/* Light Mode Colors */
:root {
    --textColor: rgba(255, 255, 255, 1.0);
    --infoDivBoxColor: rgba(20, 20, 140, 1.0);
    --mainBgColor: rgba(240, 242, 250, 0.9);
}

body {
    align-items: center;
    text-align: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
       
    font-size: 30px;
    background-color: var(--mainBgColor);
}

.clockPanel {
    background: linear-gradient(145deg, #1a1a2e, #162755);
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    border-radius: 15px;

    padding: 20px;
    padding-top: 0px;
    margin: 0 auto; /* centers horizontally */
    width: 95%;
    height: 97vh;

    box-sizing: border-box; /* ensures padding doesn’t push width */
    display: flex;
    align-items: center;
    flex-direction: column; /* stack children vertically */
    justify-content: flex-start;
}

.clockTitle, #remUntil {
    font-family: 'Orbitron', sans-serif;
    color: var(--textColor);
    text-align: center;
}

.clockTitle {
    font-size: 2.0em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.currentTime {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 10px;
}

#timeWithoutSeconds {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.0em;
    color: var(--textColor);
    /* text-shadow: 0 0 10px rgba(255,0,0,0.8); */
    margin-right: 5px;
}

#timeInSeconds {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.4em;
    color: var(--textColor);
    /* text-shadow: 0 0 8px rgba(255,0,0,0.7); */
}

table {
    width: 100%;
    margin: auto auto;
    border-collapse: collapse;
    color: var(--textColor);
    font-family: 'Courier New', monospace; /* digital clock feel */
    table-layout: fixed; /* forces equal column widths */
    word-wrap: break-word; /* allows wrapping */
    flex-grow: 1;
}

th {
    background-color: var(--infoDivBoxColor);
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

td {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

th, td {
    color: var(--textColor);
    padding: 5px;
    text-align: center;
    overflow-wrap: break-word;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: rgba(255,255,255,0.05);
}

/* Highlight Iqamah times like digital digits */
td:nth-child(2) {
    font-size: 1.2em;
    font-family: 'Orbitron', sans-serif;
    color: #ff2a2a;
}

/* gold accent */
/* td:last-child {
    font-size: 1.3em;
    font-weight: normal;
    color: #ffd700;
} */


@media (max-width: 600px) {
    body {
        font-size: 1.2em;
    }

    #timeWithoutSeconds {
        font-size: 1.5em;
    }

    #timeInSeconds {
        font-size: 0.9em;
    }

    th, td {
        font-size: 1.1em;
        padding: 0;
        word-wrap: break-word;
    }

    td:nth-child(2) {
        font-size: 1.3em;
    }
}